<div class="chart">
  <div class="chart__plot">
    <div class="chart__yaxis">
      @for (line of gridLines(); track $index) {
        <span>{{ formatAxis(line) }}</span>
      }
    </div>

    <div class="chart__area">
      <div class="chart__gridlines">
        @for (line of gridLines(); track $index) {
          <span class="chart__gridline"></span>
        }
      </div>

      <div class="chart__columns">
        @for (cat of categories(); track $index; let i = $index) {
          <div
            class="chart__column"
            [class.chart__column--hovered]="hovered() === i"
            (mouseenter)="onEnter(i)"
            (mouseleave)="onLeave()"
          >
            @if (hovered() === i) {
              <div class="chart__tooltip">
                @for (s of hoveredSeriesData(); track s.name) {
                  <div class="chart__tooltip-row">
                    <span class="chart__tooltip-dot" [style.background]="s.color"></span>
                    <span>{{ s.name }}</span>
                    <strong>{{ valueFormatter()(s.value) }}</strong>
                  </div>
                }
              </div>
            }
            <div class="chart__bars">
              @for (s of series(); track s.name) {
                <span
                  class="chart__bar"
                  [style.height.%]="barHeight(s.data[i])"
                  [style.background]="s.color"
                ></span>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="chart__labels">
    <span class="chart__yaxis-spacer"></span>
    <div class="chart__labels-row">
      @for (cat of categories(); track $index) {
        <span>{{ cat }}</span>
      }
    </div>
  </div>
</div>
